:root {
  --primary-color: #0ea5e9;
}
.theme-theme1 {
  --primary-color: #0ea5e9;
}
.theme-theme2 {
  --primary-color: #22c55e;
}
.theme-theme3 {
  --primary-color: #f97316;
}
.theme-theme4 {
  --primary-color: #a855f7;
}
